.product-container section {
  display: flex;
  padding: 30px;
}

.image,
.descriptions {
  width: 50%;
}

.image img {
  margin: auto;
  display: block;
}

.price {
  font-weight: 300;
  font-size: 30px;
  color: red;
}

button {
  background-color: green;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
